.additional-goods {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.additional-goods__item-group {
  margin-bottom: 37px;
}

.additional-goods__title {
  display: block;
  min-height: 37px;
  margin: 0;
  margin-bottom: 19px;

  list-style: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
}

.additional-goods__title-wrap {
  width: 250px;
  padding-left: 20px;

  background-color: #ffffff;
}

.additional-goods__header {
  display: block;
  margin: 0;
  margin-bottom: 15px;

  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.additional-goods__description {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  margin-bottom: 12px;

  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: #444444;
}

.additional-goods__item {
  padding-top: 14px;
  padding-bottom: 17px;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

.additional-goods__button:hover {
  background-color: #5eaa2f;
}

.additional-goods__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5eaa2f;
}

@media (min-width: $tablet-width) {
  .additional-goods {
    box-sizing: border-box;
    width: 768px;
  }

  .additional-goods__item-group {
    margin-bottom: 69px;
  }

  .additional-goods__item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    box-sizing: border-box;
    width: 708px;
    padding-top: 25px;
    padding-right: 38px;
    padding-bottom: 26px;
    padding-left: 38px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  .additional-goods__title {
    position: relative;

    margin-bottom: 78px;
    padding-right: 38px;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__title-wrap {
    width: 422px;
    margin-left: 29px;
    padding-left: 0;

    background-color: #ffffff;
  }


  .additional-goods__header {
    min-width: 160px;
    margin-bottom: 26px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
  }

  .additional-goods__description {
    justify-content: flex-end;
    margin-left: auto;

    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__button {
    width: 633px;
  }

  .additional-goods__pac {
    margin-right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    width: 1300px;
  }

  .additional-goods__wrapper {
    display: flex;
    min-height: 289px;
    padding-bottom: 18px;
  }

  .additional-goods__item {
    flex-wrap: nowrap;
    width: 895px;
    height: 72px;
    padding: 0;

    border-right: none;
    border-left: none;
  }

  .additional-goods__button {
    width: 245px;
  }

  .additional-goods__description {
    justify-content: space-between;
    margin-right: 43px;
  }

  .additional-goods__item-group {
    width: 895px;
    min-height: 289px;
    margin-right: 0;
    margin-left: 0;
  }

  .additional-goods__title {
    margin-bottom: 78px;
  }

  .additional-goods__title-wrap {
    width: 415px;
    margin-left: 0;

    background-color: #ffffff;
  }

  .additional-goods__header {
    margin-bottom: 0;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .additional-goods__pac {
    margin-right: 102px;
    padding: 0;

    text-align: center;
  }
}
