.additional-goods-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.additional-goods-form__header {
  width: 170px;
  margin: 0;
  margin-bottom: 38px;
  padding-left: 20px;

  list-style: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: none;

  background-color: #ffffff;
}

.additional-goods-form__header-wrap {
  width: 100%;
  margin-right: 50px;

  background-color: transparent;
}

.additional-goods-form__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-left: 66px;
}

.additional-goods-form label {
  position: relative;
}

.additional-goods-form label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -46px;

  width: 28px;
  height: 28px;

  border: 1px solid #cdcdcd;
}

.additional-goods-form__checkbox:hover + label::before {
  border: 1px solid #bababa;
}

.additional-goods-form__checkbox:active + label::before {
  opacity: 30%;
}

.additional-goods-form__checkbox:checked + label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 17px;
}

.additional-goods-form__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.additional-goods-form p {
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-transform: none;
}

.additional-goods-form__button {
  margin-top: 16px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 20px;
}

.additional-goods-form__button:hover {
  background-color: #5eaa2f;
}

.additional-goods-form__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5eaa2f;
}

@media (min-width: $tablet-width) {
  .additional-goods-form {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 768px;
    margin-bottom: 52px;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods-form__wrap {
    flex-direction: row;
    align-items: center;
    padding-right: 70px;
    padding-left: 71px;
  }

  .additional-goods-form__wrapper--milk,
  .additional-goods-form__wrapper--sweetener {
    margin-right: 94px;
    margin-left: 78px;
  }

  .additional-goods-form__header-wrap {
    margin-left: 30px;
  }

  .additional-goods-form__header {
    position: relative;

    width: 214px;
    margin-bottom: 67px;
    padding: 0 39px;

    font-size: 36px;
    line-height: 36px;
    text-transform: none;

    background-color: #ffffff;
  }

  .additional-goods-form__wrapper {
    min-width: 200px;
    margin-bottom: 52px;
    padding-left: 50px;
  }

  .additional-goods-form label::before {
    top: -9px;
    left: -59px;

    width: 38px;
    height: 38px;
  }

  .additional-goods-form__button {
    width: 283px;
    height: 52px;
    margin-top: 13px;
    margin-right: 62px;

    font-size: 20px;
    line-height: 20px;
  }

  .additional-goods-form p {
    height: 28px;

    font-size: 16px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods-form {
    justify-content: space-between;
    min-width: 1300px;
    margin-bottom: 62px;
  }

  .additional-goods-form__button {
    width: 568px;
    margin-right: 82px;
  }

  .additional-goods-form__wrap {
    justify-content: flex-start;
    padding-right: 40px;
    padding-left: 40px;
  }

  .additional-goods-form__header-wrap {
    margin-left: 0;
  }

  .additional-goods-form__wrapper {
    margin: 0;
    margin-bottom: 59px;
  }

  .additional-goods-form__wrapper--sweetener {
    margin-left: 47px;
  }

  .additional-goods-form__wrapper--vitamin {
    margin-right: 28px;
  }
}
