.comment-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.comment-form__header {
  margin: 0;
  margin-bottom: 34px;
  padding-left: 20px;

  list-style: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: none;
}

.comment-form__header-wrap {
  width: 162px;

  background-color: #ffffff;
}

.comment-form__text {
  display: block;
  box-sizing: border-box;
  width: 280px;
  min-height: 150px;
  margin: 0;
  margin-left: 20px;
  padding: 12px 13px;
  overflow: auto;

  list-style: none;
  font-size: 20px;
  line-height: 20px;
  color: #444444;

  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
}

.comment-form__text:hover {
  border: 1px solid rgb(205, 205, 205);
}

.comment-form__text:focus {
  border: 2px solid #444444;
  padding: 11px 12px;
}

.comment-form [placeholder] {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}

.comment-form ::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .comment-form {
    display: flex;
    flex-direction: column;
    min-width: 768px;
    margin-bottom: 64px;

    text-transform: none;
  }

  .comment-form__header {
    position: relative;

    margin-bottom: 76px;
    padding: 0 39px;

    font-size: 36px;
    line-height: 36px;
  }

  .comment-form__header-wrap {
    width: 258px;
    margin-left: 30px;

    background-color: #ffffff;
  }

  .comment-form__text {
    width: 631px;
    min-height: 174px;
    margin: 0 auto;
    padding: 9px 20px;
  }

  .comment-form__text:focus {
    padding: 8px 19px;
  }

  .comment-form ::placeholder {
    font-size: 20px;
    line-height: 30px;
  }

  .comment-form [placeholder] {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .comment-form {
    min-width: 1300px;
    padding-right: 0;
    padding-left: 0;
  }

  .comment-form__text {
    width: 1220px;
    min-height: 174px;
  }

  .comment-form__header-wrap {
    margin-left: 0;
  }
}
