.how-it-work {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 47px;
}

.how-it-work__header {
  display: block;
  margin: 0;
  margin-bottom: 35px;

  list-style: none;
  font-weight: normal;
  font-size: 36px;
  line-height: 52px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
}

.how-it-work__item {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 27px;
  padding-left: 80px;
}

.how-it-work__item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}

.how-it-work__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: 60px auto;
  }
}

.how-it-work__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: 60px auto;
  }
}

.how-it-work__item--food::before {
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: 60px auto;
  }
}

.how-it-work__item--time::before {
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: 60px auto;
  }
}

.how-it-work__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .how-it-work {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 768px;
    margin-bottom: 8px;

    color: #444444;
  }

  .how-it-work__text {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .how-it-work__item {
    width: 222px;
    min-width: 200px;
    min-height: 230px;
    margin-right: 25px;
    margin-bottom: 87px;
    padding-top: 123px;
    padding-left: 0;
  }

  .how-it-work__item--leaf {
    margin-right: 163px;
  }

  .how-it-work__item--food {
    margin-right: 162px;
  }

  .how-it-work__item--time {
    width: 245px;
  }

  .how-it-work__header {
    width: 100%;
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  .how-it-work__item::before {
    top: 11px;

    width: 80px;
    height: 80px;
  }

  .how-it-work__item::after {
    position: absolute;
    top: -29px;
    z-index: -1;

    font-size: 281px;
    line-height: 281px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;
    font-stretch: ultra-condensed;
  }

  .how-it-work__item--food::after {
    content: "3";
    left: 113px;
  }

  .how-it-work__item--leaf::after {
    content: "1";
    left: 118px;
  }

  .how-it-work__item--powder::after {
    content: "2";
    left: 110px;
  }

  .how-it-work__item--time::after {
    content: "4";
    left: 113px;
  }
}

@media (min-width: $desktop-width) {
  .how-it-work {
    width: 1300px;
    margin-bottom: 0;
  }

  .how-it-work__item {
    margin-right: 0;
  }

  .how-it-work__item--leaf {
    margin-right: 103px;
  }

  .how-it-work__item--powder {
    margin-right: 103px;
  }

  .how-it-work__item--food {
    margin-right: 103px;
  }
}
