.intro {
  position: relative;
  width: 320px;
  padding-top: 28px;
  min-height: 500px;
  box-sizing: border-box;
  margin: 0 auto;
}

.intro__img {
  top: 167px;
  left: 21px;
  position: absolute;
}

.intro__slogan {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__button {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 303px;
  margin-bottom: 22px;
  display: block;
}

.intro__button:hover {
  background-color: #5eaa2f;
}

.intro__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet-width) {
  .intro {
    width: 768px;
    min-height: 854px;
    margin-bottom: 7px;
    padding-top: 52px;
    padding-left: 27px;
    background-image: none;
  }

  .intro__slogan {
    padding-left: 90px;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }

  .intro .intro__button {
    margin-left: 90px;
    margin-top: 47px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 245px;
    height: 52px;
  }

  .intro__img {
    top: 253px;
    left: 29px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    .intro {
      width: 1300px;
      padding-left: 30px;
      padding-right: 40px;
      margin: 0 auto;
      padding-top: 99px;
      min-height: 566px;
      background-image: none;
    }

    .intro .intro__button {
      margin-top: 53px;
    }

    .intro__img {
      top: 20px;
      left: 490px;
    }
  }
}
