.main-nav {
  position: relative;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase;

  background-color: #ffffff;
}

.main-nav a {
  list-style: none;
  color: #111111;
  text-decoration: none;
}

.main-nav__list {
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  box-sizing: border-box;
  padding-top: 22px;
  padding-right: 65px;
  padding-bottom: 20px;
  padding-left: 65px;

  border-bottom: 1px solid #cdcdcd;
}

.main-nav__item:hover a {
  opacity: 60%;
}

.main-nav__item:active a {
  opacity: 30%;
}

.main-nav .main-nav__button {
  position: absolute;
  top: -43px;
  right: 20px;

  display: block;
  width: 19px;
  height: 19px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}

.main-nav--closed .main-nav__button {
  width: 25px;

  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav--closed .main-nav__item {
  display: none;
}

.main-nav--nojs .main-nav__button {
  display: none;
}

.main-nav--nojs .main-nav__item {
  display: block;
}

.main-nav--opened .main-nav__item {
  display: block;
}


@media (min-width: $tablet-width) {
  .main-nav {
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 44px;

    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 439px;
  }

  .main-nav--closed .main-nav__item {
    display: block;
  }

  .main-nav__item {
    display: block;
    padding-right: 0;
    padding-bottom: 8px;
    padding-left: 0;

    border-bottom: none;
  }

  .main-nav .main-nav__button {
    display: none;
  }

  .main-nav .main-nav__item--active-inner {
    border-bottom: 2px solid #68b738;
  }

  .main-nav .main-nav__item--active {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: auto;

    font-size: 20px;
    line-height: 25px;

    background-color: transparent;
  }

  .main-nav__list {
    min-width: 479px;
  }

  .main-nav__item {
    padding-top: 0;

    border-bottom: none;
  }

  .main-nav--index a {
    color: #ffffff;
  }

  .main-nav--index .main-nav__item--active {
    border-bottom: 2px solid #ffffff;
  }
}
