.main-title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  list-style: none;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: white;
}

@media (min-width: $tablet-width) {
  .main-title {
    width: 425px;
    margin-bottom: 41px;
    padding-left: 90px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #111111;
  }
}
