.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 105px;
  margin: 0 auto;
  margin-bottom: 37px;
  padding: 0;
  padding-right: 82px;
  padding-left: 73px;

  list-style: none;
}

.social__link--instagram {
  display: block;
  box-sizing: border-box;
  padding-top: 4px;
}

.social__link--vkontakte {
  margin-right: auto;
}

.social__link svg {
  fill: #666666;
}

.social__link:hover svg {
  fill: #68b738;
}

.social__link:hover path {
  fill: #68b738;
}


.social__link:active {
  opacity: 30%;
}

@media (min-width: $tablet-width) {
  .social {
    min-width: 200px;
  }

  .social__list {
    justify-content: flex-start;
    box-sizing: border-box;
    min-width: 126px;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 48px;

    .social__item {
      margin-right: 28px;
    }

    .social__link--vkontakte svg {
      width: 30px;
      height: 16px;
    }

    .social__link--instagram svg {
      width: 23px;
      height: 23px;
    }

    .social__link--facebook svg {
      width: 14px;
      height: 28px;
    }
  }
}
