.comment-form {
  width: 320px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 30px;
  flex-direction: column;
  font-family: "Oswald", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  color: #222222;
}

.comment-form__header {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 34px;
  list-style: none;
  font-family: "Oswald", "Arial", "sans-serif";
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #111111;
  text-transform: none;
}

.comment-form__header-wrap {
  background-color: #ffffff;
  width: 162px;
}
.comment-form__text {
  display: block;

  margin: 0;
  margin-left: 20px;
  outline: none;
  list-style: none;
  padding: 12px 13px;
  box-sizing: border-box;
  width: 280px;
  min-height: 150px;
  border: 1px solid rgba(205, 205, 205, 0.5);
}
.comment-form__text:hover,
.comment-form__text:focus {
  border: 1px solid rgb(205, 205, 205);
}
.comment-form__text:active {
  border: 2px solid #444444;
}
.comment-form ::placeholder {
  font-family: "Oswald", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  font-weight: normal;
  color: #444444;
}

@media (min-width: $tablet-width)  {
  .comment-form {
    display: flex;
    flex-direction: column;
    min-width: 768px;
    text-transform: none;
    margin-bottom: 64px;
  }
  .comment-form__header {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    padding: 0 39px;
    margin-bottom: 76px;
  }
  .comment-form__header-wrap {
    background-color: #ffffff;
    width: 258px;
    margin-left: 30px;
  }
  // .comment-form__header::after {
  //   z-index: -1;
  //   content:"";
  //   background-color:#68b738;
  //   width: 1660px;
  //   height: 3px;
  //   position: absolute;
  //   top: 21px;
  //   left: -30px;
  // }
  .comment-form__text {
    margin-left: 0;
    width: 631px;
    margin: 0 auto;
    min-height: 174px;
    padding: 9px 20px;
  }
  .comment-form ::placeholder {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: $desktop-width) {
.comment-form {
  min-width: 1300px;
  padding-left: 0;
  padding-right: 0;
}
.comment-form__text {
  width: 1220px;
  min-height: 174px;
}
.comment-form__header-wrap {
  margin-left: 0;
}
}
