.consumer-example {
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 9px;

  background-color: #f2f2f2;
}

.consumer-example__item {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
}

.consumer-example__header {
  display: block;
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  margin: 0 auto;
  margin-bottom: 24px;

  list-style: none;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", "sans-serif";
  text-align: left;
  color: #111111;
}

.consumer-example__description {
  margin: 0;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  padding-right: 34px;
  padding-left: 20px;

  line-height: 18px;
}

.consumer-example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-right: 20px;
  padding-left: 20px;
}

.consumer-example__text::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;

  width: 120px;
  height: 56px;

  background-color: transparent;
  border: 1px solid #cdcdcd;
}

.consumer-example__text {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 124px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", "sans-serif";
  text-align: center;
  color: #444444;
}

.consumer-example__desc {
  z-index: 1;

  display: block;
  width: 70px;
  height: 19px;
  margin: 0 auto;

  text-align: center;

  background-color: #f2f2f2;
}

.consumer-example__number {
  margin-bottom: 9px;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", "sans-serif";
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.consumer-example__cost {
  display: block;
  min-width: 180px;
  margin: 0;
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", "sans-serif";
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.consumer-example__photo {
  width: 321px;
  height: 238px;
}

.consumer-example__before-after {
  box-sizing: border-box;
  width: 320px;
  min-height: 318px;
}

.consumer-example__photo--after {
  display: none;
}


@media (min-width: $tablet-width) {
  .consumer-example__photo {
    width: 684px;
    height: 517px;
  }

  .consumer-example {
    min-height: 1055px;

    background-color: #ffffff;
    background-image: linear-gradient(transparent 56%, #eaeaea 56%);
  }

  .consumer-example__before-after {
    padding-top: 15px;
    padding-right: 30px;
    padding-left: 47px;
  }

  .consumer-example__item {
    width: 768px;
  }

  .consumer-example__result {
    padding-right: 30px;
    padding-left: 30px;
  }

  .consumer-example__description {
    padding-right: 38px;
    padding-left: 29px;
  }

  .consumer-example__text {
    width: 162px;
    margin-right: 42px;
    padding-top: 8px;
  }

  .consumer-example__text::before {
    top: -6px;

    width: 161px;
    height: 69px;
  }


  .consumer-example__header {
    width: 768px;
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  .consumer-example__cost {
    width: 174px;
    min-width: auto;
    min-height: 50px;
    margin-left: 126px;

    font-size: 20px;
    line-height: 1.5;
    text-align: right;
  }


  .consumer-example__number {
    margin-bottom: 13px;

    font-size: 30px;
    line-height: 37px;
  }

  .consumer-example__description {
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 24px;
  }

  .consumer-example__desc {
    width: 128px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .consumer-example__header {
    width: 1300px;
    margin-bottom: 145px;
  }

  .consumer-example__result {
    justify-content: flex-start;
    margin: 0;
    padding-left: 40px;
  }

  .consumer-example {
    position: relative;

    min-height: 602px;
    margin: 0 auto;
    padding-top: 5px;

    background-image: linear-gradient(transparent, transparent 23%, #eaeaea 23% #eaeaea 77%, );
  }

  .consumer-example__description {
    width: 435px;
    margin: 0;
    margin-bottom: 75px;
    padding-left: 40px;
  }

  .consumer-example__result {
    width: 430px;
  }

  .consumer-example__cost {
    width: 430px;
    margin: 0;

    text-align: left;
  }

  .consumer-example__cost span {
    margin-left: 59px;
  }

  .consumer-example__item {
    width: 1300px;
    margin: 0 auto;
  }

  .consumer-example__number {
    font-size: 30px;
    line-height: 37px;
  }

  .consumer-example__text {
    width: 162px;
    margin-bottom: 45px;
  }

  .consumer-example__text::before {
    width: 162px;
    height: 72px;
  }

  .consumer-example__desc {
    font-size: 14px;
    line-height: 14px;

    background-color: #eaeaea;
  }


  .consumer-example__before-after {
    position: absolute;
    top: -11%;
    left: 43.5%;

    width: 720px;
  }
}
