.copyright__link {
  display: block;

  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", "sans-serif";
  text-align: left;
  color: #444444;
  text-decoration: none;
}



.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright:hover svg {
  fill: #68b738;
}

.copyright:active {
  opacity: 30%;
}

@media (min-width: $tablet-width) {
  .copyright {
    align-items: flex-start;
    min-width: 163px;
  }

  .copyright__link {
    padding-top: 5px;
  }
}
