body {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #444444;

  background-color: #ffffff;
}

@media (min-width: $desktop-width) {
  .wrapper {
    width: 100%;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: 100% 0 ;
    background-repeat: no-repeat;

  }
}
