.goods {
  width: 320px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 31px;
}

.goods a {
  text-decoration: none;
  list-style: none;
}

.goods__header {
  width: 74px;
  margin: 0;
  margin-bottom: 10px;

  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.goods__picture-link {
  height: 144px;
}

.goods__description {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}

.goods__table {
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  margin-bottom: 20px;
  // text-align: right;
  font-size: 12px;
  line-height: 16px;
}

.goods tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;
}

.goods__wrapper {
  height: 97px;
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

// .goods__def {
//   text-align: left;
// }
.goods__item {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  box-sizing: border-box;
  padding-top: 29px;
  padding-bottom: 20px;
  height: 209px;

}

.goods__picture {
  width: 140px;
  height: 144px;
}

.goods__more {
  position: relative;
  padding-left: 20px;
  padding-right: 19px;
  display: block;
  box-sizing: border-box;
  min-height: 210px;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 107px;


  border-bottom: 1px solid #ededed;
}

.goods__more::before {
  content: "";
  position: absolute;
  top: 54px;
  left: 145px;

  width: 31px;
  height: 31px;

  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.goods__more ::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #ededed;
  top: 28px;
  left: 3px;
}
.goods__show-more {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  padding-right: 35px;
  padding-left: 38px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
}

.goods__text {
  margin: 0;
  padding-right: 30px;
  padding-left: 30px;
  margin-bottom: 21px;
}

.goods__button {
  margin-top: auto;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #68b738;
}

.goods__button:hover {
  background-color: #5eaa2f;
}

.goods__button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.goods__button--grey {
  padding-top: 10px;
  padding-left: 68px;

  color: #444444;

  background-color: #f2f2f2;
}

.goods__button--grey:hover {
  background-color: #ebebeb;
}

.goods__button--grey:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}

.goods__item::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 1px;
  background-color: #ededed;
  top: 28px;
  left: 3px;
}
@media (min-width: $tablet-width) {

  .goods {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    padding-top: 82px;
    margin-bottom: 11px;
  }

  .goods__wrapper {
    height: auto;
    align-items: center;
    margin-top: 0;
  }
  .goods__item::after {
    display: none;
  }
  .goods__table {
    display: table;
  }

  .goods tr {
    display: table-row;
    height: 30px;
  }

  .goods__picture-link {
    height: auto;
  }

  .goods__item {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    box-sizing: border-box;
    padding-top: 0;
    margin-bottom: 58px;
    height: 513px;
    background-color: #ffffff;
    background-image: linear-gradient(transparent, transparent 16.5%, #f2f2f2 16.5% #f2f2f2 83.5%, );
  }



  .goods__item--small {
    padding-top: 34px;
  }

  .goods__header {
    width: 130px;
    margin: 0 auto;
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-top: 35px;
  }

  .goods__description {
    flex-direction: column;
    margin-top: auto;
    width: 324px;
  }

  .goods__table {
    width: 261px;
    border-collapse: collapse;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    margin-bottom: 34px;
    box-sizing: border-box;
  }

  .goods td {
    margin-right: 50px;
    padding: 6px;
  }

  .goods td {
    border-bottom: 1px solid #cdcdcd;

  }

  .goods__def {
    text-align: left;
  }

  .goods__button {
    width: 249px;
    margin-left: 38px;
  }

  .goods__show-more {
    width: 135px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 27px;
  }

  .goods__more {
    border: 1px solid rgba(205, 205, 205, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    box-sizing: border-box;
    height: 432px;
    padding-top: 164px;
    padding-bottom: 40px;
    margin-top: 82px;
  }
  .goods__more ::after {
    display: none;
  }
  .goods__text {
    width: 170px;
    text-align: center;
    margin-bottom: 90px;

    font-size: 16px;
  }

  .goods__more::before {
    top: 54px;
    width: 61px;
    left: 131px;
    height: 61px;
    background-image: url("../img/icon-plus.svg");
  }

  .goods .goods__button--grey {
    margin-left: 0;

  }
}

@media (min-width: $desktop-width) {
  .goods {
   padding-left: 40px;
   padding-right: 40px;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 21px;
  }

   .goods__header {
     margin-bottom: 19px;
   }
  .goods__item {
    width: 245px;

  }
  .goods__more {
    width: 245px;
  }

  .goods__more::before {
    top: 56px;
    left: 92px;
  }
  .goods td {
    padding-bottom: 6px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 9px;
  }
  .goods tr {
    height: 31px;
  }
  .goods__description {
    box-sizing: border-box;
    width: 245px;
  }

  .goods__table {
    width: 185px;
    margin-bottom: 36px;
  }

  .goods__button {
    width: 169px;
    padding: 12px 0;
  }

  .goods__more ::after {
    display: none;
  }
  .goods__text {
    line-height: 19px;
    margin-bottom: 85px;
  }
}
