.how-it-work__header {
  display: block;
  margin: 0;
  margin-bottom: 36px;
  list-style: none;
  font-weight: normal;
  font-family: "Oswald","Arial","sans-serif";
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-align: left;
}

.how-it-work__item {
  padding-left: 65px;
  margin-bottom: 30px;
}
.how-it-work__text {
  margin: 0;
  padding: 0;
}
