.inner-title {
  margin: 0;
  list-style: none;
  font-family: "Oswald","Arial",sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  text-align: center;
  color: #111111;
}

@media (min-width: $tablet-width) {
  .inner-title {
    padding-top: 60px;
    padding-left: 30px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}


