.main-header {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 7px;
}
.main-header a {
  text-decoration: none;
  list-style: none;
}

.main-header__logo-link {
  padding-left: 20px;
}
@media (min-width: $tablet-width) {
.main-header {
  width: 768px;
  display: flex;
}
.main-header a {
  padding: 0;
}
.main-header .main-header__logo-link {
  margin-right: 50px;
  padding-left: 30px;
}
}

@media (min-width: $desktop-width) {
  .main-header {
    width: 1440px;
    position: relative;
    padding-top: 75px;
    align-items: baseline;
  }


}
