.main-nav {
  // display: none;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-nav a {
  color: #111111;
  list-style: none;
  text-decoration: none;
}

.main-nav__list {
  min-width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  box-sizing: border-box;
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 22px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}

.main-nav__item:hover a {
  opacity: 60%;
}

.main-nav__item:active a {
  opacity: 30%;
}


.main-nav__button {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -35px;
  right: 20px;
  display: block;
  width: 25px;
  height: 19px;
  list-style: none;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .main-nav {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    padding-left: 44px;
    padding-top: 7px;
    box-sizing: border-box;

  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 439px;
  }

  .main-nav__item {
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
    padding-bottom: 8px;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav .main-nav__item--active-inner {
    border-bottom: 2px solid #68b738;
  }
  .main-nav .main-nav__item--active {
    border-bottom: 2px solid #68b738;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-left: auto;
    font-size: 20px;
    line-height: 25px;
    background-color: transparent;

  }
  .main-nav__list {
    min-width: 479px;
  }

  .main-nav__item {
    padding-top: 0;
    border-bottom: none;
  }

  .main-nav--index a {
    color: #ffffff;
  }

  .main-nav--index .main-nav__item--active {
    border-bottom: 2px solid #ffffff;
  }


}
