.main-header {
  width: 320px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 7px;
}
.main-header a {
  text-decoration: none;
  list-style: none;
}

.main-header__logo-link {

  padding-left: 20px;
}
.main-header__logo-link:hover {
  opacity: 80%;
}
.main-header__logo-link:active {
  opacity: 60%;
}
.main-header img {
  width: 191px;
  height: 39px;
}
@media (min-width: $tablet-width) {
.main-header {
  width: 768px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}
.main-header a {
  padding: 0;
  padding-top: 10px;
}
.main-header .main-header__logo-link {
  margin-right: 50px;

}
.main-header img {
  width: 174px;
  height: 59px;
}
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    width: 1300px;
    position: relative;
    padding-top: 48px;
    align-items: center;
  }
   .main-header img {
    width: 200px;
    height: 60px;
  }

  .main-header a {
    padding-top: 0;
  }

  .main-header .main-header__logo-link {
    padding-left: 0;
    padding-top: 7px;
  }




}
