.owner-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 16px;

  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", "sans-serif";
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}

.owner-form input {
  box-sizing: border-box;
  height: 45px;
  margin: 0;

  list-style: none;

  border: 1px solid rgba(205, 205, 205, 0.5);
  outline: none;
}

.owner-form__header {
  width: 195px;
  margin: 0;
  margin-bottom: 31px;
  padding-left: 20px;

  list-style: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", "sans-serif";
  text-align: left;
  color: #111111;
  text-transform: none;

  background-color: #ffffff;
}

.owner-form__wrapper {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;
  padding-left: 20px;
}

.owner-form label {
  display: block;
  min-width: 50px;
}

.owner-form .owner-form__e-mail {
  position: relative;

  width: 219px;
  margin-left: 12px;
  padding-right: 50px;
}

.owner-form .owner-form__phone {
  position: relative;

  width: 204px;
  margin-left: 9px;
}


.owner-form input:hover,
.owner-form input:focus {
  border: 1px solid rgb(205, 205, 205);
}

.owner-form input:active {
  border: 2px solid #444444;
}

.owner-form__svg {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.owner-form__wrapper--phone svg {
  top: 13px;
  left: 266px;

  width: 21px;
  height: 21px;

  background-color: transparent;
}

.owner-form__wrapper--email svg {
  top: 16px;
  left: 266px;

  width: 18px;
  height: 14px;
}

.owner-form__wrapper:active svg {
  fill: #68b738;
}

@media (min-width: $tablet-width) {
  .owner-form {
    // padding-left: 70px;
    // padding-right: 60px;
    min-width: 768px;
    margin-bottom: 45px;

    font-size: 20px;
    line-height: 20px;
  }

  .owner-form .owner-form__e-mail {
    position: relative;

    box-sizing: border-box;
    min-width: 551px;
    height: 51px;
    margin-left: 16px;
    padding-right: 50px;
  }


  .owner-form__header {
    position: relative;

    width: 558px;
    width: 555px;
    margin-bottom: 76px;
    padding-left: 39px;

    font-size: 36px;
    line-height: 36px;
    color: #111111;
    text-transform: none;

    background-color: #ffffff;
  }

  .owner-form__header-wrap {
    width: 100%;
    margin-left: 30px;

    background-color: transparent;
  }

  // .owner-form__header::after {
  //   z-index: -1;
  //   content:"";
  //   background-color:#68b738;
  //   width: 1660px;
  //   height: 3px;
  //   position: absolute;
  //   top: 20px;
  //   left: -30px;
  // }
  .owner-form .owner-form__phone {
    position: relative;

    min-width: 535px;
    height: 51px;
    margin-left: 11px;
    padding-right: 50px;
  }

  .owner-form__wrapper {
    position: relative;

    box-sizing: border-box;
    width: 768px;
    margin-bottom: 21px;
    padding-right: 65px;
    padding-left: 72px;
  }

  .owner-form__wrapper--phone svg {
    top: 16px;
    left: 664px;
  }

  .owner-form__wrapper--email svg {
    top: 19px;
    left: 665px;
  }
}

@media (min-width: $desktop-width) {
  .owner-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 1300px;
    margin-bottom: 48px;
  }

  .owner-form .owner-form__e-mail {
    min-width: 486px;
    margin-left: auto;
  }

  .owner-form .owner-form__phone {
    min-width: 472px;
    margin-left: auto;
  }

  .owner-form__wrapper {
    width: 650px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .owner-form__wrapper--email::after {
    left: 550px;
  }

  .owner-form__wrapper--phone::after {
    left: 550px;
  }

  .owner-form__header-wrap {
    margin-left: 0;
  }

  .owner-form__wrapper--email svg {
    left: 573px;

    width: 17px;
    height: 13px;
  }

  .owner-form__wrapper--phone svg {
    left: 570px;

    height: 20px;
  }
}
