.owner-form {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  font-family: "Oswald", "Arial", "sans-serif";
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;

}

.owner-form input {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  list-style: none;
  border: 1px solid rgba(205, 205, 205, 0.5);
  height: 45px;

}

.owner-form__header {
  margin: 0;
  padding-left: 20px;
  margin-bottom: 31px;
  list-style: none;
  font-family: "Oswald", "Arial", "sans-serif";
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #111111;
  text-transform: none;
  background-color: #ffffff;
  width: 195px;
}

.owner-form__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  padding-left: 20px;
}

.owner-form label {
  display: block;
  min-width: 50px;
}

.owner-form .owner-form__e-mail {
  width: 219px;
  margin-left: 12px;
  position: relative;
  padding-right: 50px;
}

 .owner-form .owner-form__phone {
  width: 204px;
  margin-left: 9px;
  position: relative;
}


.owner-form input:hover,
.owner-form input:focus {
  border: 1px solid rgb(205, 205, 205);
}

.owner-form input:active {
  border: 2px solid #444444;
}

.owner-form__svg {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.owner-form__wrapper--phone svg {
  width: 21px;
  height: 21px;
  top: 13px;
  left: 266px;
  background-color: transparent;
}

.owner-form__wrapper--email svg {

  width: 18px;
  height: 14px;
  top: 16px;
  left: 266px;

}
.owner-form__wrapper:active svg{
 fill: #68b738;
}
@media (min-width: $tablet-width) {
  .owner-form {
    font-size: 20px;
    line-height: 20px;
    // padding-left: 70px;
    // padding-right: 60px;
    min-width: 768px;
    margin-bottom: 45px;
  }

  .owner-form .owner-form__e-mail {
    box-sizing: border-box;
    position: relative;
    min-width: 551px;
    padding-right: 50px;
    height: 51px;
    margin-left: 16px;
  }


  .owner-form__header {
    padding-left: 39px;
    width: 558px;
    position: relative;
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
    color: #111111;
    margin-bottom: 76px;
    width: 555px;
    background-color: #ffffff;
  }

  .owner-form__header-wrap {
    background-color: transparent;
    width: 100%;
    margin-left: 30px;


  }

  // .owner-form__header::after {
  //   z-index: -1;
  //   content:"";
  //   background-color:#68b738;
  //   width: 1660px;
  //   height: 3px;
  //   position: absolute;
  //   top: 20px;
  //   left: -30px;
  // }
  .owner-form .owner-form__phone {
    position: relative;
    min-width: 535px;
    padding-right: 50px;
    height: 51px;
    margin-left: 11px;
  }

  .owner-form__wrapper {
    position: relative;
    padding-left: 72px;
    padding-right: 65px;
    width: 768px;
    box-sizing: border-box;
    margin-bottom: 21px;
  }
  .owner-form__wrapper--phone svg {
    top: 16px;
    left: 664px;

  }

  .owner-form__wrapper--email svg {

    top: 19px;
    left: 665px;

  }

}

@media (min-width: $desktop-width) {
  .owner-form {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 1300px;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .owner-form .owner-form__e-mail {
    min-width: 486px;
    margin-left: auto;
  }

  .owner-form .owner-form__phone {
    min-width: 472px;
    margin-left: auto;
  }

  .owner-form__wrapper {
    width: 650px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .owner-form__wrapper--email::after {
    left: 550px;
  }

  .owner-form__wrapper--phone::after {
    left: 550px;
  }
  .owner-form__header-wrap {
    margin-left: 0;
  }
  .owner-form__wrapper--email svg {
    width: 17px;
    height: 13px;
    left: 573px;
  }
  .owner-form__wrapper--phone svg {
    height: 20px;
    left: 570px;
  }
}
