.ration-programs__item {
  position: relative;

  margin-bottom: 20px;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 20px;

  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.ration-programs__header {
  margin: 0;
  padding-left: 70px;

  list-style: none;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", "sans-serif";
  text-align: left;
  color: #111111;
}


.ration-programs__item--slim .ration-programs__header::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;

  width: 51px;
  height: 51px;

  background-color: #68b738;
  background-repeat: no-repeat;
  border-radius: 50% 50%;
}

.ration-programs__item--slim .ration-programs__header::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 30px;
  z-index: 1;

  width: 35px;
  height: 49px;

  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.ration-programs__item--pro .ration-programs__header::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;

  width: 51px;
  height: 51px;

  background-color: #68b738;
  background-repeat: no-repeat;
  border-radius: 50% 50%;
}

.ration-programs__item--pro .ration-programs__header::before {
  content: "";
  position: absolute;
  top: 37px;
  left: 9px;
  z-index: 1;

  width: 67px;
  height: 28px;

  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.ration-programs__description {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "sans-serif";
  text-align: left;
  color: #444444;
}

.ration-programs__link {
  position: relative;

  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", "sans-serif";
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}

.ration-programs__link::after {
  content: "";
  position: absolute;

  width: 25px;
  height: 12px;
  z-index: 1;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: 0 0 ;
  top: 10px;
  left: 130px;
  background-color: transparent;
}


@media (min-width: $tablet-width) {
  .ration-programs__item {
    box-sizing: border-box;
    min-height: 372px;
    padding-top: 80px;
    padding-right: 285px;
    padding-left: 52px;
  }

  .ration-programs__header {
    margin-bottom: 20px;
    padding-left: 0;

    font-size: 36px;
    line-height: 37px;
    text-transform: uppercase;
  }

  .ration-programs__description {
    margin-bottom: 60px;

    font-size: 16px;
    line-height: 24px;
  }

  .ration-programs__item--slim .ration-programs__header::after {
    top: 90px;
    left: 448px;

    width: 200px;
    height: 200px;
  }

  .ration-programs__item--pro .ration-programs__header::after {
    top: 90px;
    left: 448px;

    width: 200px;
    height: 200px;
  }

  .ration-programs__item--pro .ration-programs__header::before {
    top: 135px;
    left: 420px;

    width: 268px;
    height: 113px;
  }

  .ration-programs__item--slim .ration-programs__header::before {
    top: 77px;
    left: 475px;

    width: 141px;
    height: 194px;
  }

  .ration-programs__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .ration-programs {
    width: 1440px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 80px;
  }
  .ration-programs__header {
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0;

    text-align: center;
  }
  .ration-programs__item {
    box-sizing: border-box;
    width: 570px;
    padding-right: 50px;
  }

  .ration-programs__item--slim .ration-programs__header::after {
    top: 50px;
    left: 40px;

    width: 100px;
    height: 100px;
  }

  .ration-programs__item--pro .ration-programs__header::after {
    top: 50px;
    left: 40px;

    width: 100px;
    height: 100px;
  }

  .ration-programs__item--pro .ration-programs__header::before {
    top: 67px;
    left: 22px;

    width: 134px;
    height: 57px;
  }

  .ration-programs__item--slim .ration-programs__header::before {
    top: 47px;
    left: 56px;

    width: 71px;
    height: 97px;
  }
}
