.social__list {
  margin: 0;
  padding: 0;
  padding-right: 82px;
  min-width: 105px;
  padding-left: 73px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;

  margin-bottom: 37px;

}

.social__link--instagram {
  display: block;
  box-sizing: border-box;
  padding-top: 4px;
}
.social__link--vkontakte {
  margin-right: auto;
}
.social__link svg:hover {
  fill: #68b738;
}

.social__link:hover path {
  fill: #68b738;
}

.social__link:active {
  opacity: 30%;
}
@media (min-width: $tablet-width) {
  .social {
    min-width: 200px;
  }

  .social__list {
    margin-bottom: 0;
    padding-right: 75px;
    min-width: 126px;
    padding-left: 92px;
  }

  .social__link--vkontakte svg {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook svg {
    width: 14px;
    height: 28px;
  }
}
